<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/dropzone.min.css" type="text/css" />
</head>
<body>
    <!-- Dropzone para subir archivos -->
    <!-- <form action="http://192.168.0.249:8000/api/uploads/" class="dropzone" id="dropzone"></form> -->
    <form action="http://10.48.103.186:8000/api/uploads/" class="dropzone" id="dropzone"></form>
    <button id="dropbutton">Add files...</button>

    <!-- Lista para mostrar archivos subidos -->
    <h2>Uploaded Files</h2>
    <ul id="fileList" class="file-list"></ul>

    <script src="script/dropzone.min.js"></script>
    <script src="script/dropzone.function.js"></script>
    <script src="script/uploads.function.js"></script>
</body>
</html>
